<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcl.dao.AgentzhfundLogMapper">
  <resultMap id="BaseResultMap" type="com.jcl.pojo.AgentzhfundLog">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subzh" property="subzh" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="TINYINT" />
    <result column="fund" property="fund" jdbcType="DECIMAL" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="afterfund" property="afterfund" jdbcType="DECIMAL" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="acc_no" property="accNo" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="banchname" property="banchname" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jcl.pojo.AgentzhfundLog" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, subzh, name, type, bz, fund, modifytime, status, afterfund, orderno, acc_no, 
    createtime, province, city, banchname, bankname,description
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jcl.pojo.AgentzhfundLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from agentzhfund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jcl.pojo.AgentzhfundLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from agentzhfund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from agentzhfund_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from agentzhfund_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jcl.pojo.AgentzhfundLogExample" >
    delete from agentzhfund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jcl.pojo.AgentzhfundLog" >
    insert into agentzhfund_log (id, subzh, name, 
      type, bz, fund, modifytime, 
      status, afterfund, orderno, 
      acc_no, createtime, province, 
      city, banchname, bankname, 
      description)
    values (#{id,jdbcType=INTEGER}, #{subzh,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{bz,jdbcType=TINYINT}, #{fund,jdbcType=DECIMAL}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{afterfund,jdbcType=DECIMAL}, #{orderno,jdbcType=VARCHAR}, 
      #{accNo,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{banchname,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jcl.pojo.AgentzhfundLog" useGeneratedKeys="true" keyProperty="id">
    insert into agentzhfund_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="subzh != null" >
        subzh,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="fund != null" >
        fund,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="afterfund != null" >
        afterfund,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="accNo != null" >
        acc_no,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="banchname != null" >
        banchname,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subzh != null" >
        #{subzh,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=TINYINT},
      </if>
      <if test="fund != null" >
        #{fund,jdbcType=DECIMAL},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="afterfund != null" >
        #{afterfund,jdbcType=DECIMAL},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="banchname != null" >
        #{banchname,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jcl.pojo.AgentzhfundLogExample" resultType="java.lang.Integer" >
    select count(*) from agentzhfund_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update agentzhfund_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subzh != null" >
        subzh = #{record.subzh,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null" >
        bz = #{record.bz,jdbcType=TINYINT},
      </if>
      <if test="record.fund != null" >
        fund = #{record.fund,jdbcType=DECIMAL},
      </if>
      <if test="record.modifytime != null" >
        modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.afterfund != null" >
        afterfund = #{record.afterfund,jdbcType=DECIMAL},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.accNo != null" >
        acc_no = #{record.accNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.banchname != null" >
        banchname = #{record.banchname,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null" >
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update agentzhfund_log
    set id = #{record.id,jdbcType=INTEGER},
      subzh = #{record.subzh,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=TINYINT},
      fund = #{record.fund,jdbcType=DECIMAL},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=TINYINT},
      afterfund = #{record.afterfund,jdbcType=DECIMAL},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      acc_no = #{record.accNo,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      banchname = #{record.banchname,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update agentzhfund_log
    set id = #{record.id,jdbcType=INTEGER},
      subzh = #{record.subzh,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=TINYINT},
      fund = #{record.fund,jdbcType=DECIMAL},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=TINYINT},
      afterfund = #{record.afterfund,jdbcType=DECIMAL},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      acc_no = #{record.accNo,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      banchname = #{record.banchname,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcl.pojo.AgentzhfundLog" >
    update agentzhfund_log
    <set >
      <if test="subzh != null" >
        subzh = #{subzh,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=TINYINT},
      </if>
      <if test="fund != null" >
        fund = #{fund,jdbcType=DECIMAL},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="afterfund != null" >
        afterfund = #{afterfund,jdbcType=DECIMAL},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        acc_no = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="banchname != null" >
        banchname = #{banchname,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jcl.pojo.AgentzhfundLog" >
    update agentzhfund_log
    set subzh = #{subzh,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=TINYINT},
      fund = #{fund,jdbcType=DECIMAL},
      modifytime = #{modifytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      afterfund = #{afterfund,jdbcType=DECIMAL},
      orderno = #{orderno,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      banchname = #{banchname,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcl.pojo.AgentzhfundLog" >
    update agentzhfund_log
    set subzh = #{subzh,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=TINYINT},
      fund = #{fund,jdbcType=DECIMAL},
      modifytime = #{modifytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      afterfund = #{afterfund,jdbcType=DECIMAL},
      orderno = #{orderno,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      banchname = #{banchname,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM agentzhfund_log 
		ORDER BY id desc
  </select>
  <select id="isExist" resultMap="BaseResultMap" >
	select * from agentzhfund_log 
	<where>
		1 = 1
		<if test="subzhName != null"> AND subzh = #{subzhName} </if>
	</where>
	</select>
	
  <select id="selectByorderno" resultMap="BaseResultMap" parameterType="java.lang.String">
	select * from agentzhfund_log 
	<where>
		1 = 1
		<if test="orderno != null"> AND orderno = #{orderno} </if>
	</where>
	</select>
</mapper>