<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcl.dao.RiskTemplateMenuMapper" >
  <resultMap id="BaseResultMap" type="com.jcl.pojo.RiskTemplateMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="NUMERIC" />
    <result column="agentzh" property="agentzh" jdbcType="VARCHAR" />
    
    <association property="riskTemplate" javaType="com.jcl.pojo.RiskTemplate">
   	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="condition" property="condition" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="INTEGER" />
    <result column="operation_condition" property="operationCondition" jdbcType="VARCHAR" />
    <result column="operation_param" property="operationParam" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="operation_desc" property="operationDesc" jdbcType="VARCHAR" />
    <result column="riskType" property="risktype" jdbcType="INTEGER" />
    <result column="notify" property="notify" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="NUMERIC" />
    <result column="agentzh" property="agentzh" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    </association>
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, modifyTime, userid, agentzh
  </sql>
  
  <!--风控模板菜单全查询  -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from risk_template_menu
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jcl.pojo.RiskTemplateMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from risk_template_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_template_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_template_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jcl.pojo.RiskTemplateMenuExample" >
    delete from risk_template_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jcl.pojo.RiskTemplateMenu" >
    insert into risk_template_menu (id, title, modifyTime, 
      userid, agentzh)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{userid,jdbcType=NUMERIC}, #{agentzh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jcl.pojo.RiskTemplateMenu" >
    insert into risk_template_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="modifytime != null" >
        modifyTime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="agentzh != null" >
        agentzh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=NUMERIC},
      </if>
      <if test="agentzh != null" >
        #{agentzh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jcl.pojo.RiskTemplateMenuExample" resultType="java.lang.Integer" >
    select count(*) from risk_template_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update risk_template_menu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null" >
        modifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=NUMERIC},
      </if>
      <if test="record.agentzh != null" >
        agentzh = #{record.agentzh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update risk_template_menu
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      modifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      userid = #{record.userid,jdbcType=NUMERIC},
      agentzh = #{record.agentzh,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcl.pojo.RiskTemplateMenu" >
    update risk_template_menu
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=NUMERIC},
      </if>
      <if test="agentzh != null" >
        agentzh = #{agentzh,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcl.pojo.RiskTemplateMenu" >
    update risk_template_menu
    set title = #{title,jdbcType=VARCHAR},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=NUMERIC},
      agentzh = #{agentzh,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>